body{
padding-top: 50px;
}


.wE{
margin-left:600px;
width:500px;
margin-top:60px;
}
.container{
font-size:16px;
background:000;
font-family:arial;
}
#header{
width: 100%;
height: 110px;
background: #003777;
margin-top: -50px;
}
#footer{
width:100%;
height:110px;
background: #003777;
margin-top:140px;
}
#upload{
margin-top:70px;
margin-left:500px;
}
.thanks{
font-family:arial;
font-size:15px;
text-align:center;
font-style:bold;
margin-top:50px;
color:#004c90;
}

.copyright{
text-align:center;
font-family:arial;
color:#fff;
margin-top:-50px;
text-align:center;
padding-top:60px;

}
#fb{
margin-left:1000px;
width:50px;
margin-top:-30px;
}
#twitter{
margin-left:1080px;
width:50px;
margin-top:-56px;
}
#linked{
margin-left:1150px;
width:50px;
margin-top:-62px;
}
.heading{
font-family:arial;
color:white;
font-size:30px;
padding-top:40px;
padding-left:30px;
}
#nav{
width:100%;
height:50px;
background:#004c90;
}
.nav2{
display:inline;
font-family:arial;
color:#fff;
margin-top:20px;
margin-left:20px;
font-size:20px;
position: absolute;
}
.nav3{
display:inline;
font-family:arial;
color:#fff;
margin-left:120px;
margin-top:20px;
font-size:20px;
position :absolute;
}
#logo{
margin-left:1180px;
width:100px;
margin-top:-120px;
}
.main{
color:#004c90;
font-size:1.5em;
text-align:center;
margin-top:50px;
font-weight: bold;
}
#job{
margin-left:406px;
margin-top:100px;
}
#job2{
margin-left:10px;
margin-top:100px;
}
label{
margin-left:330px;
}
.button{
background:#3498db;
border-radius:28px;
font-family:arial;
color:#fff;
font-size:20px;
padding:20px;
width:130px;
margin-left:590px;
margin-top:50px;
text-align:center;
}


.button:hover{
background: #3cb0fd;
text-decoration:none;
}
a:link{
color: #fff;
text-decoration:none;
}
a:visited{
color: #fff;
text-decoration:none;
}
a:hover{
color:#fff;
text-decoration:underline;
}
a:active{
color:#fff;
text-decoration:none;
}
