<html>
<head>
    <title>Job Finder | Thankyou Page</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css">

</head>
<body>
    <div id="header">
    <div class="heading">
    Job Finder -<span style="font-size:20px"> Find the job your looking
    for</span></div>
    </div>
      <div id="nav">
      <div class="nav2">
      <a href="/Home">Home</a></div>
      <div class="nav3">
      <a href="/Home/Review">Review</a></div>
      </div>
      <img id="logo" src="/static/cv.png"/>
      </div>
      <div class="thanks">
      Thank you For Applying For this Job The company Will get back to you As
      Soon as they can!!
      </div>
      
      <div id="footer">
      <div class="copyright">
      &#169; Copyright 2015 | Conor O'Neill
      </div>
      <img id="fb" src="/static/fb.png"/></div>
      <img id="twitter" src="/static/twitter.png"/></div>
      <img id="linked" src="/static/linkedIn.png"/></div>
      </div>
  </body>
  </html>
