<html>
<head>
    <title>Job Finder| Home</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css"> 
    <script type="text/javascript" src="{{ url_for('static',
    filename='drop.js') }}"></script> 
</head>
<body>
    <div id="header">
    <div class="heading">
      Job Finder -<span style="font-size:20px"> Find the job your looking
      for</span></div>
      </div>
        <div id="nav">
        <div class="nav2">
        <a href="#">Home</a></div>
        <div class="nav3">
        <a href="Review">Review</a></div>
        </div>
       <img id="logo" src="/static/cv.png"/>
       </div>
        <div class="main">
        Find Your New Job Today !!
        </div>

         <select name="brand" id="job"
        style="width:500px" onchange="fillPhones()">
        <label for="action">Find Job:</label>
        <option>Select</option>
        <option value="work">Web Designer(Full Time)</option>
        <option value="work">Receptionist(Part Time)</option>
        <option value="work">Sales Advisor</option>
        <option value="work">Night Porter(Part Time)</option>
        <option value="work">Software Developer(Full Time)</option>
        <option value="work">Customer Service Assistant(Full Time)</option>
        </select>
        
                 
        <div class="button">
       <a href="/Home/Apply">Apply</a>
        </div>
        <div id="footer">
        <div class="copyright">
        &#169; Copyright 2015 | Conor O'Neill
        </div>
       <img id="fb"  src="/static/fb.png"/></div>
        <img id="twitter" src="/static/twitter.png"/></div>
        <img id="linked" src="/static/linkedIn.png"/></div>
        </div>
   </body>
  </html>
