<html>
<head>
    <title>Job Finder | Review</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    
</head>
<body>
  <div id="header">
  <div class="heading">
  Job Finder -<span style="font-size:20px"> Find the job your looking
  for</span></div>
  </div>
    <div id="nav">
    <div class="nav2">
    <a href="/Home">Home</a></div>
    <div class="nav3">
    <a href="#">Review</a></div>
    </div>
    <img id="logo" src="/static/cv.png"/>
    </div>
   
    <div class="main">
    Please Rate This site !!
    </div>

      <div id="14490656533393" class="wE"><script
   src="http://widget-engine.com/w:0:003:14490656533393:1:e4d13a:40"
   type="text/javascript"></script><a
   href="http://widget-engine.com/ratingcode.php" class="wE" title="Free Rating
   code for your webprojects">Get free premium widgets for your
   webiste.</a></div>
    <div id="footer">
    <div class="copyright">
    &#169; Copyright 2015 | Conor O'Neill
    </div>
    <img id="fb" src="/static/fb.png"/></div>
    <img id="twitter" src="/static/twitter.png"/></div>
    <img id="linked" src="/static/linkedIn.png"/></div>
    </div>
       </body>
    </html>

